body{
  background-color: #265959;
}

h1 {
  color: #ffffff;
  font-size: 44px;
  font-family: helvetica;
  font-weight: 900;
  line-height: 20px;
}
p {
  color: #ffffff;
  font-family: helvetica;
  font-size: 11px;
}
a {
  color: #ffffff;
  font-family: helvetica;
  font-size: 11px;
  text-transform: uppercase;
  text-decoration: none;
}
